{# andrewdbooth/templates/index.html #}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- CSS  -->
    <link rel="stylesheet" href="{{url_for('.static', filename='lib/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">

    <!-- Custom -->
    <link rel="shortcut icon" href="{{url_for('.static', filename='img/favicon.jpg')}}">
    <title>The Site of ADB</title>
</head>
<body>
    <div class="container main">
        <div class="row">
            <div class="col-sm-4">
                <img src="{{url_for('.static', filename='img/Chimney_prof_pic.jpg')}}" class="img-responsive profile-image">
                <div class="name-div">
                    <h2 class="name-header">Andrew Booth</h2>
                </div>
                <table id="navigation-table" class="table table-hover table-condensed table-borderless">
                    {% for name in content.page_name_list %}
                        <tr id="{{name}}_navigation" class="navigation-row{% if not loop.index0 %} bg-selected{% endif %}">
                            <td>
                                <p class="navigation-text">{{name|title}}</p>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            {% for name in content.page_name_list %}
                <div id="{{name}}" class="col-sm-8 page-div{% if loop.index0 %} hidden{% endif %}">{% include name ~ '.html' %}</div>
            {% endfor %}
        </div>
    </div>
    <script type="text/javascript" src="{{url_for('.static', filename='lib/jquery-1.11.3.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('.static', filename='lib/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('.static', filename='script.js')}}"></script>
</body>
</html>
