{# andrewdbooth/templates/projects.html #}

<table class="table table-borderless table-flush">
    {% for item in content.projects %}
        {% if loop.index0 % 3 == 0 %}<tr>{% endif %}
        <td class="img-wrapper">
            <img src="{{url_for('.static', filename='img/projects_images/' ~ item.name ~ '.jpg')}}" class="img-responsive img-project">
            <p class='img-text hidden'>{{item.caption}}</p>
        </td>
        {% if loop.index0-2 % 3 == 0 %}</tr>{% endif %}
    {% endfor %}
    </tr>
</table>
