/* static/style.css */
/* Global CSS */
html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: "Lucida Console", Monaco, monospace;
}
@media (min-width: 768px) {
    body {
        padding-top: 50px;
        margin-bottom: 50px;
    }
}
@media (max-width: 768px) {
    body {
        padding-top: 15px;
        margin-bottom: 15px;
    }
}
#theater {
    max-width: 800px;
}
.table-borderless tbody tr td {
    border: none;
}


/* Pillar CSS */
#mugshot {
    cursor: pointer;
}
#nameplate {
    cursor: pointer;
}
#nameplate h2 {
    text-align: center;
}

/* Navigation table CSS */
.bg-selected {
    background-color: WhiteSmoke;
}
.entry {
    cursor: pointer;
}
.entry p {
    transform: translate(0, 25%);
}

/* Projects table CSS */
.table-flush tbody tr td {
    padding: 0;
}
.project-cell {
    position: relative;
}
.project-thumb {
    width: 200px;
    cursor: pointer;
    -webkit-filter: grayscale(40%);
}
.project-caption {
    cursor: pointer;
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 26px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.img-blurred {
    -webkit-filter: brightness(65%) grayscale(0%) blur(1px);
}

/* Footer CSS */
footer {
    position: absolute;
    bottom: 0;
    height: 50px;
}
footer p {
    transform: translate(0, 15px);
}
