body {
    font-family: "Lucida Console", Monaco, monospace;
    padding-top: 50px;
}

.main {
    max-width: 800px;
}

#profile_image {
    cursor: pointer;
}
.table-borderless tbody tr td {
    border: none;
}

.navigation-row {
    cursor: pointer;
}
.navigation-text {
    transform: translate(0, 25%);
}
