body {
    font-family: "Lucida Console", Monaco, monospace;
    padding-top: 50px;
}

.main {
    max-width: 800px;
}

.profile-image {
    cursor: pointer;
}

/* Navigation table stuff */
.table-borderless tbody tr td {
    border: none;
}
.bg-selected {
    background-color: WhiteSmoke;
}
.navigation-row {
    cursor: pointer;
}
.navigation-text {
    transform: translate(0, 25%);
}
