{# andrewdbooth/templates/index.html #}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- CSS  -->
    <link rel="stylesheet" href="{{url_for('.static', filename='lib/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">

    <!-- Custom -->
    <link rel="shortcut icon" href="{{url_for('.static', filename='img/favicon.jpg')}}">
    <title>The Site of ADB</title>
</head>
<body>
    <!-- theater -->
    <div id="theater" class="container">
        <div class="row">
            <!-- pillar -->
            <div id="pillar" class="col-sm-4">
                <!-- mugshot -->
                <img id="mugshot" src="{{url_for('.static', filename='img/Chimney_prof_pic.jpg')}}" class="img-responsive">
                <!-- nameplate -->
                <div id="nameplate">
                    <h2>Andrew Booth</h2>
                </div>
                <!-- scene list -->
                <table id="scene_list" class="table table-hover table-condensed table-borderless">
                    {% for name in content.page_name_list %}
                        <tr id="{{name}}_navigation" class="navigation-row">
                            <td>
                                <p>{{name|title}}</p>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <!-- End show table -->
            </div><!-- End pillar -->

            <!-- Stage -->
            <div id="stage" class="col-sm-8">

            </div>
            {% for name in content.page_name_list %}
                <div id="{{name}}" class="col-sm-8 page-div hidden">{% include name ~ '.html' %}</div>
            {% endfor %}
            {% for name, markup in content.project_files.iteritems() %}
                <div id="{{name}}_project" class="col-sm-8 page-div hidden">{{markup}}</div>
            {% endfor %}
            <!-- End Stage -->
        </div>

        <!-- Footer -->
        <div id="footer" class="container">
            <p class="text-muted">
                Built by <a href="https://twitter.com/broothie">me</a><span class="hidden-xs hidden-sm">, powered by <a href="https://www.raspberrypi.org/">RPi</a>/<a href="http://nginx.org/en/">nginx</a>/<a href="http://flask.pocoo.org/">Flask</a>/<a href="http://getbootstrap.com/">Bootstrap</a></span>
            </p>
        </div>
        <!-- End Footer -->
    </div>
    <!-- End theater -->
    <!-- JavaScript -->
    <script type="text/javascript" src="{{url_for('.static', filename='lib/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('.static', filename='lib/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('.static', filename='script.js')}}"></script>
</body>
</html>
