{# andrewdbooth/templates/projects.html #}

<table class="table table-borderless table-flush">
    {% for item in content.projects %}
        {% if loop.index0 % 3 == 0 %}<tr>{% endif %}
        <td id="{{item.name}}_project_image" class="project-thumb-wrapper"{% if not item.link %} onclick="show_stage(this)" {% endif %}>
            {% if item.link %}
                <a href="{{item.link}}">
            {% endif %}
                <img src="{{url_for('.static', filename='img/thumbs/' ~ item.name ~ '.jpg')}}" class="img-responsive project-thumb">
                <p class='project-text hidden'>{{item.caption}}</p>
            {% if item.link %}
                </a>
            {% endif %}
        </td>
        {% if loop.index0-2 % 3 == 0 %}</tr>{% endif %}
    {% endfor %}
    </tr>
</table>
