{# templates/projects.html #}
<table class="table table-borderless table-flush">
    <tr>
        {% for project in g.project_index -%}
            <td class="project-cell">
                <a id="{{project.key}}_link" {% if project.link %}href="{{project.link}}"{% else %}onclick="put_scene(this)"{% endif %}>
                <img src="{{url_for('.static', filename='scenes/projects/thumbs/' ~ project.thumb)}}" class="img-responsive project-thumb"/>
                <p class="hidden-xs hidden-sm project-caption hidden">{{project.caption}}</p>
                </a>
            </td>
            {%- if not loop.last and loop.index % 3 == 0 -%}</tr><tr>{%- endif -%}
        {%- endfor %}
    </tr>
</table>
