{# templates/theater.html #}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <!-- CSS  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}"/>

    <!-- JavaScript -->
    <script type="text/javascript" src="{{url_for('.static', filename='lib/jquery.min.js')}}" defer></script>
    <script type="text/javascript" src="{{url_for('.static', filename='script.js')}}" defer></script>

    <!-- Custom -->
    <link rel="shortcut icon" href="{{url_for('.static', filename='img/favicon.jpg')}}"/>
    <title>Andrew Booth</title>
    <meta name="description" content="The personal website of Andrew D. Booth"/>
    <meta name="keywords" content="Andrew, Dennison, Booth, personal, website, computer, software, hardware, engineer, science, developer, web"/>
    <meta name="author" content="Andrew D. Booth"/>
</head>
<body>
    <!-- theater -->
    <div id="theater" class="container">
        <div class="row">

            <!-- pillar -->
            <div class="col-sm-4">
                <!-- mugshot -->
                <img id="mugshot" class="img-responsive"/>
                <!-- nameplate -->
                <div id="nameplate" onclick="put_home()">
                    <h2>Andrew Booth</h2>
                </div>
                <!-- scene list -->
                <table id="scene_list" class="table table-hover table-condensed table-borderless">
                    {% for scene in g.standard_scenes -%}
                        <tr id="{{scene}}_entry" class="entry{% if not loop.index0 %} bg-selected{% endif %}" onclick="put_scene(this)">
                            <td><p>{{scene|title}}</p></td>
                        </tr>
                    {%- endfor %}
                </table><!-- closes scene list -->
            </div><!-- closes pillar -->

            <!-- stage -->
            <div class="col-sm-8">
                {% for scene, markup in g.scenes.iteritems() -%}
                    <div id="{{scene}}_scene" class="scene{% if loop.index0 %} hidden{% endif %}">
                        {{markup}}
                    </div>
                {%- endfor %}
            </div><!-- closes stage -->
        </div><!-- closes row -->

        <!-- footer -->
        <footer class="container footer">
            <p class="text-muted hidden-xs hidden-sm">
                <!-- Designed by <a href="http://andrewdbooth.me/">ADB</a>, powered by <a href="https://www.raspberrypi.org/">RPi</a>/<a href="http://nginx.org/en/">nginx</a>/<a href="http://flask.pocoo.org/">Flask</a>/<a href="http://getbootstrap.com/">Bootstrap</a> -->
                Designed by <a href="http://andrewdbooth.me/">ADB</a>, powered by <a href="http://flask.pocoo.org/">Flask</a> + <a href="http://getbootstrap.com/">Bootstrap</a>
            </p>
        </footer><!-- closes footer -->
    </div><!-- closes theater -->
</body>
</html>
