{# templates/theater.html #}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- CSS  -->
    <link rel="stylesheet" href="{{url_for('.static', filename='lib/bootstrap.min.css')}}"/>

    <!-- Custom -->
    <link rel="shortcut icon" href="{{url_for('.static', filename='img/favicon.jpg')}}">
    <title>University Homepage Technologies</title>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" style="background-color:white">
        <div class="container">
            <h2>Web Technology Statistics for University Homepages</h2>
            <form>
                <div class="form-group">
                    <label>Search</label>
                    <input type="text" id="searchbox" class="form-control" placeholder="Filter by university name, script filenames, or css filenames">
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input id="jspath" type="checkbox"> Show script paths
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input id="csspath" type="checkbox"> Show style paths
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="container" style="padding-top:200px">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Tags</th>
                    <th>Deepest Nest</th>
                    <th>Scripts</th>
                    <th class="jspath-wrapper hidden">Script Paths</th>
                    <th>Stylesheets</th>
                    <th class="csspath-wrapper hidden">Style Paths</th>
                </tr>
            </thead>
            <tbody>
                {% for name, school in g.schools.iteritems() %}
                    <tr class="entry">
                        <td>
                            <a href="{{school.url}}" target="_blank">
                                <p class="schooltitle searchable">{{school.title}}</p>
                            </a>
                        </td>
                        <td>{{school.tagcount}}</td>
                        <td>{{school.topnest}}</td>
                        <td>
                            <table class="table table-condensed">
                                <tbody>
                                    {% for file in school.js_files %}
                                        <tr>
                                            <p class="jsfile searchable" title="{{file}}">{{file|truncate(49)}}</p>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                        <td class="jspath-wrapper hidden">
                            <table class="table table-condensed">
                                <tbody>
                                    {% for path in school.js_paths %}
                                        <tr>
                                            <p class="jspath searchable" title="{{path}}">{{path}}</p>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                        <td>
                            <table class="table table-condensed">
                                <tbody>
                                    {% for file in school.css_files %}
                                        <tr>
                                            <p class="cssfile searchable" title="{{file}}">{{file|truncate(49)}}</p>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                        <td class="csspath-wrapper hidden">
                            <table class="table table-condensed">
                                <tbody>
                                    {% for path in school.css_paths %}
                                        <tr>
                                            <p class="csspath searchable" title="{{path}}">{{path}}</p>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
<!-- JavaScript -->
<script type="text/javascript" src="{{url_for('.static', filename='lib/jquery.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('.static', filename='lib/bootstrap.min.js')}}"></script>
<script type="text/javascript">
    // Returns capitalized string
    function capitalize(s) {
        return s[0].toUpperCase() + s.slice(1);
    }

    $(function() {
        $("#searchbox").bind("input propertychange", function() {
            var query = $(this).val();
            $(".entry").addClass("hidden");

            // Show row of matching searchable fields
            $(".searchable:contains('" + query + "')").closest(".entry").removeClass("hidden");
            $(".searchable[title*='" + query + "']").closest(".entry").removeClass("hidden");
            $(".searchable:contains('" + capitalize(query) + "')").closest(".entry").removeClass("hidden");
            $(".searchable[title*='" + capitalize(query) + "']").closest(".entry").removeClass("hidden");
        });
        $("#jspath").change(function() {
            if ($(this).is(":checked")) {
                $(".jspath-wrapper").removeClass("hidden");
            } else {
                $(".jspath-wrapper").addClass("hidden");
            }
        });
        $("#csspath").change(function() {
            if ($(this).is(":checked")) {
                $(".csspath-wrapper").removeClass("hidden");
            } else {
                $(".csspath-wrapper").addClass("hidden");
            }
        });

        $("#searchbox").focus();
    });
</script>
</html>
